/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: 'Josefin Sans', sans-serif;
}

/*header {
	position: fixed;
}*/

.navbar {
	margin-bottom: 0px;
}

h1 {
	margin-top: 0px;
}

.navbar-brand {
	height: 4.5em;
	line-height: 2em;
	margin-top: 1em;
}

.navbar-default {
	background-color: #FFFFFF;
	border-color: rgba(121,94,94,0.25);
}

.nav-btn {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #795E5E;
	display: inline-block;
	font-size: 1.25em;
	margin-top: 3em;
	text-decoration: none;
}

.nav-btn:hover {
	background-color: #FFB500;
	border-color: #FFB500;
}

.noodle-love {
	font-family: 'Monoton', cursive;
	font-size: 4em;
	display: inline-block;
}

#noodle {
	color: #795E5E;
}

#love {
	color: #FFB500;
}

a {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

article {
	text-align: center;
	margin-top: 7.5em;
}

#dishes-index-pic {
	background: url("http://mms.businesswire.com/media/20130919005500/en/383188/5/a.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0;
}

#dishes-index-white {
	background-color: rgba(255,255,255,.5);
	margin: 0 auto;
	/*margin-left: 5%;*/
	width: 30%;
}

#contents {
	padding-top: 1.5em;
	color: #795E5E;
	float: none;
	margin: 0 auto
	/*margin-left: 3%;*/
	text-decoration: none;
}

#contents:active {
	text-decoration: none;
}

#contents:hover {
	text-decoration: none;
}

ul {
    list-style-type: none;
    font-size: 1.5em;
    margin-left: -10%;
}

.container {
	color: #795E5E;
	padding-top: 1.5em;
}

.body-btn {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	color: #795E5E;
	text-decoration: none;
}

.body-btn:hover {
	background-color: #FFB500;
	border-color: #FFB500;
}

.thumbnail {
	border-color: rgba(121,94,94,0.25);
}

.thumbnail .caption {
	color: #795E5E;
}

.form {
	padding: 1em;
}

.dish-icon {
	font-size: 1.5em;
	letter-spacing: .5em;
}