<h1>This will be a list of all the reviews for a noodle dish.</h1>

<ul>
	<% @reviews.each do |review| %>
		<li><%= review.restaurant_name %></li>
		<li><%= review.dish_rating %></li>
		<li><%= review.dish_review %></li>
		<li><%= review.dish_image %></li>
	<% end %>
</ul>