<h1>This will be a page for a review of a dish.</h1>

<h2><%#= @review.dish_name -%></h2>
<img src="<%= @review.dish_image %>" />
<h3><%= @review.restaurant_name %></h3>
<p><%= @review.dish_rating %></p>
<p><%= @review.dish_review %></p>